/*update:2023.07.23*/

/* transparent&narrow header*/
#browser:not(.address-top) > #header,
.color-behind-tabs-off:not(.is-settingspage)#browser:not(.tabs-top):not(.tabs-bottom) #header
{
    box-shadow:none;
    background:transparent;
    color:transparent;
    min-height:10px !important;
}

#browser.fullscreen > #header,
#browser:not(.address-top).tabs-bottom > #header,
#browser.tabs-off.address-top > #header,
.color-behind-tabs-off:not(.is-settingspage)#browser.tabs-bottom #header
{
    display: none;
}

/*address bar*/

.color-behind-tabs-off.address-top#browser:not(.tabs-top):not(.tabs-bottom) .mainbar{
    background:transparent;
    border:none;
}

#browser.mac.address-top .toolbar:has(.window-buttongroup.on-mainbar){
    padding: 0 calc(8px / var(--uiZoomLevel));
    min-height: calc(40px / var(--uiZoomLevel));
    
}

#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .toolbar-mainbar .toolbar-extensions, 
#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .toolbar-mainbar .page-zoom-controls, 
#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .toolbar-mainbar
{
    background:transparent;
    border:none;
}



#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off.address-top .mainbar > .toolbar-mainbar .toolbar-extensions:before, 
#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off.address-top .mainbar > .toolbar-mainbar .page-zoom-controls:before, 
#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off.address-top .mainbar > .toolbar-mainbar:before{
    background-color:transparent;
}


.disable-titlebar .toolbar-mainbar .toolbar-extensions > .button-toolbar > button, 
.disable-titlebar .toolbar-mainbar .page-zoom-controls > .button-toolbar > button, 
.disable-titlebar .toolbar-mainbar > .button-toolbar > button, 
.disable-titlebar .toolbar-mainbar .toolbar-extensions > .toolbar-group > .button-toolbar > button, 
.disable-titlebar .toolbar-mainbar .page-zoom-controls > .toolbar-group > .button-toolbar > button, 
.disable-titlebar .toolbar-mainbar > .toolbar-group > .button-toolbar > button{
    border-radius:var(--radiusCap);
}

#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .ExtensionIcon{
    border-radius:var(--radiusCap);
}


#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .ExtensionIcon:hover{
    background-color:var(--colorAccentBgAlphaHeavy);
}

#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .ExtensionIcon--Hidden{
    background-color:var(--colorAccentBgAlphaHeavy);
    border-radius:var(--radiusCap);
}

#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .ExtensionIcon--Hidden:hover,
#browser:not(.tabs-top):not(.tabs-bottom).color-behind-tabs-off .ExtensionIcon--Hidden:active{
    background-color:var(--colorAccentBgAlpha);
}

/* for mac&win */

#browser.mac:not(.tabs-top):not(.tabs-bottom) #titlebar.tabless .window-buttongroup{
    display:flex;
    margin-top:4px;
    margin-left: 10px;
}

#browser.mac:not(.tabs-top):not(.tabs-bottom) #header .window-buttongroup button{
    width:7px;
    height:7px;
    margin-right:2px;
    flex:0 0 7px;
}

#browser.mac:not(.tabs-top):not(.tabs-bottom)  #header .window-buttongroup,
#browser.mac:not(.tabs-top):not(.tabs-bottom)  #header .window-buttongroup{
    filter:brightness(0) grayscale(1)  opacity(0.08);
}
#browser.mac:not(.tabs-top):not(.tabs-bottom)  #header .window-buttongroup:hover,
#browser.mac:not(.tabs-top):not(.tabs-bottom)  #header .window-buttongroup:hover{
    filter:brightness(1) opacity(0.7);
}

#browser.win:not(.tabs-top):not(.tabs-bottom) .window-buttongroup{
    color:var(--colorFgFaded);
    line-height:10px;
    margin-right:10px;
}

#browser.win:not(.tabs-top):not(.tabs-bottom) .window-buttongroup button,
#browser.win:not(.tabs-top):not(.tabs-bottom) .window-buttongroup button.window-close{
    width:20px;
    height:10px;
    margin:0;
}

#browser.win .window-buttongroup button.window-minimize svg,
#browser.win .window-buttongroup button.window-maximize svg,
#browser.win .window-buttongroup button.window-close svg{
    scale:0.7;
}

/*tabbar left & tabbar right*/
#browser:not(.theme-dark) #tabs-tabbar-container.top{
    box-shadow:none;
}

.transparent-tabbar.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button,
.transparent-tabbar.tabs-right .button-toolbar.workspace-popup.tabbar-workspace-button{
    background:transparent;
    margin-top:2px;

}

.transparent-tabbar.tabs-right .button-toolbar.workspace-popup.tabbar-workspace-button{
    margin-top:0px;
}

#browser.win.transparent-tabbar.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button,
#browser.win.transparent-tabbar.tabs-right .button-toolbar.workspace-popup.tabbar-workspace-button{
    margin-top:0px;

}

.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button > button,
.tabs-right .button-toolbar.workspace-popup.tabbar-workspace-button > button{
    padding:2px;
}

.button-toolbar.button-menu .button-toolbar-menu-indicator.disabled{
    opacity:0.45;
}

#browser.transparent-tabbar #tabs-tabbar-container.left, 
#browser.transparent-tabbar #tabs-tabbar-container.right{
    background: transparent;
    border: none;
    box-shadow:none;
}

#browser.transparent-tabbar #tabs-tabbar-container.left  ::-webkit-scrollbar, 
#browser.transparent-tabbar #tabs-tabbar-container.right  ::-webkit-scrollbar
{
    display: none;
}

#tabs-subcontainer.left, #tabs-subcontainer.right,
.color-behind-tabs-off #tabs-subcontainer.left, .color-behind-tabs-off #tabs-subcontainer.right{
    box-shadow:none;
}

.color-behind-tabs-off #tabs-subcontainer.left, .transparent-tabbar #tabs-subcontainer.left,
.color-behind-tabs-off #tabs-subcontainer.right, .transparent-tabbar #tabs-subcontainer.right{
    background-color:transparent;
}

/*panel*/

#browser:not(.tabs-top):not(.tabs-bottom) #panels #switch{
    padding-top: 0px;
}

#browser:not(.tabs-top):not(.tabs-bottom) #panels{
    background: transparent;  
}

#browser:not(.tabs-top):not(.tabs-bottom) #panels-container.right:not(.icons) .panel-group, 
#browser:not(.tabs-top):not(.tabs-bottom) #panels-container.right.icons:not(:has(.SlideBar))
{
    border-left:0;
}

#browser:not(.tabs-top):not(.tabs-bottom) #panels-container.left:not(.icons) .panel-group, 
#browser:not(.tabs-top):not(.tabs-bottom) #panels-container.left.icons:not(:has(.SlideBar))
{
    border-right:0;
}


#browser:not(.tabs-top):not(.tabs-bottom) #panels-container.right.icons:not(:has(.SlideBar)),
#browser:not(.tabs-top):not(.tabs-bottom) #panels-container.left.icons:not(:has(.SlideBar))
{
    background: transparent;
}

.icons #switch .addwebpanel-wrapper > button, 
.icons #switch > .button-toolbar, 
.icons #switch > * > .button-toolbar, 
.icons #switch > button{
    border-radius:calc(var(--radiusCap));
}

/*rounded webview*/
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen) #webpage-stack{
    border-radius:var(--radiusCap);
    box-shadow: 0px 0px 6px #00000015;

}

#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen) .webpageview > .row-wrapper{
    border-radius:var(--radiusCap); 
    
}

#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).theme-dark .webpageview > .row-wrapper{
    border: 1px solid #ffffff17;
}


/*tile*/
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen) .mosaic-tile{
    border:2px solid var(--colorBg);
    border-radius:10px;
    margin:2px;
}

#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen) #webview-container:has(#webpage-stack .mosaic.visible){
    box-shadow: none;
    padding:0px;
}

#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen) .mosaic-split .mosaic-split-line,
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen) .mosaic-split .mosaic-split-line:before, .mosaic-split .mosaic-split-line:after{
    background:transparent;
} 


/*webview-container*/

#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-left #main.right #panels-container.minimized ~ #webview-container{
    margin-right:0px;
}
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-right #main.left #panels-container.minimized ~ #webview-container{
    margin-left:0px;
}
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-off #main.left #panels-container.minimized ~ #webview-container{
    margin-left:0px;
}
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-off #main.right #panels-container.minimized ~ #webview-container{
    margin-right:0px;
}

#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-off #webview-container{
    margin:0px 10px 10px 10px;
}
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-left #webview-container{
    margin:0px 10px 10px 0px;
}
#browser:not(.tabs-top):not(.tabs-bottom):not(.fullscreen).tabs-right #webview-container{
    margin:0px 0 10px 10px;
}
