/* header */

#browser:not(.tabs-top) #header {      
    display: none;
}

#browser:not(.address-top) > #header{
    box-shadow:none;
}

/* webview */
#webview-container{
    margin:8px;
}

#webpage-stack{
    border-radius:6px;
    box-shadow: 0px 0px 8px #0000002d;
}



/* tabbar left&right */
#tabs-tabbar-container{
    -webkit-app-region:drag;
    box-shadow:none;
}

.toolbar > .newtab{
    display:none;
}

#browser.transparent-tabbar #tabs-tabbar-container.left, 
#browser.transparent-tabbar #tabs-tabbar-container.right{
    background-color: #00000000;
    border: none;
}

#browser.transparent-tabbar #tabs-tabbar-container.left,
#browser.transparent-tabbar #tabs-tabbar-container.right{
    box-shadow:none;
}

#browser .tab-position .tab.active{
    box-shadow: 0px 0px 4px #00000007;      
}

#tabs-container.left .tab-strip{
    margin:8px 4px 4px 0;
}

#tabs-container.right .tab-strip{
    margin:8px 0px 4px 0;
}

#tabs-tabbar-container.left{
    padding-left: 6px;
}

#tabs-tabbar-container.right{
    padding-right: 6px;
}

/*tabbar bottom&top*/
#tabs-tabbar-container.bottom{
    padding: 0 0 6px 8px;
}

#tabs-tabbar-container.top{
    padding:6px 0 0 0;
}

.address-bottom #tabs-tabbar-container.top, 
.address-bottom-off #tabs-tabbar-container.top, 
.address-top-off #tabs-tabbar-container.top{
    border-bottom-width:0px;
}

.address-top #tabs-tabbar-container.bottom, 
.address-top-off #tabs-tabbar-container.bottom, 
.address-bottom-off #tabs-tabbar-container.bottom{
    border-top-width:0px;
}

.color-behind-tabs-off.transparent-tabbar #tabs-tabbar-container.bottom,
.color-behind-tabs-off.transparent-tabbar #tabs-tabbar-container.top
{
    box-shadow:none;
}

.tabs-top .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):after, .tabs-top .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion)::before,
.tabs-bottom .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):after, .tabs-bottom .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):before{
    display: none;
}

.tabs-top .tab-position .tab:not(.tab-in-accordion):not(.tab-accordion), 
.tabs-bottom .tab-position .tab:not(.tab-in-accordion):not(.tab-accordion){
    border-radius: var(--radiusHalf);
}

.tabs-left .accordion-toggle-arrow{
    max-width:calc(var(--Width) - 8px);
}

.tabs-top .tab-accordion.active .svg-tab-stack, 
.tabs-top .tab-in-accordion.tab-first-in-group .svg-tab-stack,
.tabs-bottom .tab-accordion.active .svg-tab-stack, 
.tabs-bottom .tab-in-accordion.tab-first-in-group .svg-tab-stack
{
    height:calc(100% + 1px);
}

.tabs-top .tab-accordion.active, .tabs-top .tab-in-accordion.tab-first-in-group{
    border-bottom-left-radius:var(--radiusHalf);
}

.tabs-bottom .tab-accordion.active, .tabs-bottom .tab-in-accordion.tab-first-in-group{
    border-top-left-radius:var(--radiusHalf);
}

.tabs-top .accordion-toggle-arrow{
    border-bottom-right-radius:var(--radiusHalf);
}
.tabs-bottom .accordion-toggle-arrow{
    border-top-right-radius:var(--radiusHalf);
}

.tabs-left .toolbar-tabbar.sync-and-trash-container, 
.tabs-right .toolbar-tabbar.sync-and-trash-container{
    margin: 0 auto 0 0;
    display: none;
}

/* Panel */
/* #panels-container.left:not(.overlay) .panel-group, 
#panels-container.left.icons .panel-group, 
#panels-container.left.icons.overlay,
#panels-container.right:not(.overlay) .panel-group, 
#panels-container.right.icons .panel-group, 
#panels-container.right.icons.overlay{
    box-shadow:none;
} */

#panels-container{
    -webkit-app-region:drag;
    background: #00000007;
}

#panels{
    background: transparent;  
}

.icons #switch .addwebpanel-wrapper > button, 
.icons #switch > button,
#switch .addwebpanel-wrapper > button, 
#switch > button{
    border-radius:8px;
}

#switch .addwebpanel-wrapper > button.active, 
#switch > button.active{
    box-shadow:inset 0 0 0 var(--colorHighlightBg) 
}

/*tile*/
.mosaic-tile{
    border: 2px solid rgba(255, 255, 255, 0);
    margin:3px;
}

.webpageview{
    border-radius: 6px;
    border: 1px solid #ffffff1f;
}

.webpageview > .row-wrapper{
    border-radius:6px;
}


